# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore auto generated config files
src/main/resources/config.properties

#Ignore IDE configs
.idea
.theia
.settings

.wskprops