node_modules/
.DS_Store
.theia/
index.zip
notes.txt

.npm/
.cache/
.config/
.yarn/
.wskprops

dist/
index-1.zip

credentials*.json
token*.json
commands.txt
test-data/test-credentials.json
test-data/test-token.json
